<include file="Public/_meta" />

    <title>添加用户</title>
</head>
<body>
<article class="page-container">
    <form action="index.php?c=admin&a=edit" method="post" class="form form-horizontal" id="peihuo-form">
        <input type="hidden" name="admin_id" value="{$admin.admin_id}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"> 用户名：</label>
            <div class="formControls col-xs-8 col-sm-9">{$admin.username}</div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"> 原密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" value="" placeholder="留空则不改变密码" id="password" name="password">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"> 新密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" value="" placeholder="留空则不改变密码" id="password2" name="password2">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"> 真实姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$admin.realname}" placeholder="" id="realname" name="realname">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"> 手机号码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$admin.mobile}" placeholder="" id="mobile" name="mobile">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<include file="Public/_footer" />

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){
        $("#peihuo-form").validate({
            rules:{
            },
            onkeyup:false,
//            focusCleanup:true, // 如果是 true 那么当未通过验证的元素获得焦点时，移除错误提示。避免和 focusInvalid 一起用。
            success:"valid",
            // 通过验证后运行的函数
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    dataType: 'json',
                    success: function (data) {
                        if(data.status === 1){
                            dialog.msg("操作成功！");
                            window.parent.location.reload();
                        }else{
                            dialog.error(data.message);
                        }
//                        console.log(data);
//                        layer.msg('操作成功!',{icon:1,time:1000});
//                        var index = parent.layer.getFrameIndex(window.name);
//                        parent.layer.close(index);
                    }
                });
//                var index = parent.layer.getFrameIndex(window.name);
                //parent.$('.btn-refresh').click();
//                parent.layer.close(index);
            }
        });
    });
</script>
<script>
    var SCOPE = {
        'add_url' : 'index.php?c=admin&a=add',
        'edit_url' : '/admin.php?c=menu&a=edit',
        'set_status_url' : 'index.php?c=admin&a=setStatus',
    }
</script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>