<include file="Public/_meta"/>
<style>
    .order-info {
        margin: 10px auto;
    }
    .order-info span{
        display: inline-block;
        width: 220px;
    }
    .page-container{
        width: 800px;
        margin: 0 auto;
    }
    .table-head{
        font-weight: bold;
    }
</style>
<title>单项菜品统计</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 数据统计 <span class="c-gray en">&gt;</span> 单项菜品统计 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form method="get" class="form form-horizontal" id="peihuo-form">
        <input type="hidden" name="c" value="count">
        <input type="hidden" name="a" value="onefoodbytime">
        <div class="text-c search-input">
         <span class="select-box inline">
            <select name="category_id" class="select category-id">
                <option value="">-=请选择菜品分类=-</option>
                <foreach name="categoryList" item="cate">
                    <option value="{$cate.category_id}" <if condition="$cate['category_id'] eq $info['categoryId']">selected="selected"</if>>{$cate.category_name}</option>
                </foreach>
            </select>
		</span>
            <span class="select-box inline">
            <select name="food_id" class="select food-id">
                <option value="">-=请选择菜品=-</option>
                <foreach name="foodList" item="food">
                    <option value="{$food.food_id}" <if condition="$food['food_id'] eq $info['foodId']">selected="selected"</if>>{$food.food_name}</option>
                </foreach>
            </select>
        </span>
        <span class="select-box inline">
 				<select name="count_way" class="select">
                    <option value="">-=请选择统计方式=-</option>
                    <option value="1" <if condition="$info['countWay'] eq 1">selected="selected"</if>>按月统计</option>
                    <option value="2" <if condition="$info['countWay'] eq 2">selected="selected"</if>>按日统计</option>
				</select>
		</span>
            统计日期：
            <input type="text" onfocus="selectDate()" value="{$info.date}" name="delivery_date" autocomplete="off" class="input-text Wdate" style="width:120px;">
            <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe61c;</i> 统计数据</button>
        </div>
    </form>
    <div class="text-c mt-20"><mark>（数据只统计“已终结”订单）</mark></div>
    <div class="mt-30 print-box <notpresent name="info.countWay">hide</notpresent>">
        <div id="printArea">
            <div class="text-c"><h2>{$info.chineseDate}{$info.foodName}配送情况统计表</h2></div>
            <div class="order-info text-r">
                <span>统计日期：{$info.today}</span>
            </div>
            <table class="table table-border table-bg table-bordered">
                <thead>
                <tr class="table-head">
                    <td>序号</td>
                    <td>酒店</td>
                    <td>订单数量</td>
                    <td>实际数量</td>
                    <td>单位</td>
                    <td>配送日期</td>
                </tr>
                </thead>
                <tbody>
                <empty name="data">
                    <tr><td colspan="10">没有数据</td></tr>
                    <else />
                    <foreach name="data" item="data">
                        <tr>
                            <td>{$key+1}</td>
                            <td>{$data.hotel_name}</td>
                            <td class="format-number">{$data.total1}</td>
                            <td class="format-number">{$data.total2}</td>
                            <td>{$data.food_unit}</td>
                            <td>{$data.delivery_date|date="Y年m月d日",###}</td>
                        </tr>
                    </foreach>
                </empty>
                </tbody>
            </table>
        </div>
        <div class="text-c mt-50"><input class="btn btn-secondary radius size-L" id="printBtn" type="button" value="打印数据"></div>
    </div>
</div>

<include file="Public/_footer"/>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/printThis.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
    $(function () {
        $("#peihuo-form").validate({
            rules: {
                category_id: {
                    required: true,
                },
                food_id: {
                    required: true,
                },
                count_way: {
                    required: true,
                },
                delivery_date: {
                    required: true,
                },
            },
            onkeyup: false,
            success: "valid",
            // 通过验证后运行的函数
            submitHandler: function (form) {
                form.submit();
            }
        });

        var foodData = {};
        $(".category-id").change(function () {
            var ele = $(this).parent().parent();
            var foodSelect = ele.find(".food-id");

            foodSelect.html("");
            $("<option value=''>-=请选择菜品=-</option>").appendTo(foodSelect);

            var cateValue = $(this).val();
            if (cateValue != "") {
                var postData = {
                    'category_id': cateValue
                };
                $.post('index.php?c=food&a=getFoodData', postData, function (result) {
                    if (result.status == 1) {
                        //成功
                        //console.log(result.data);
                        foodData = result.data;
                        $.each(foodData, function (k, v) {
                            $("<option value ='" + v['food_id'] + "'> " + v['food_name'] + "</option>").appendTo(foodSelect);
                        });
                    } else if (result.status == 0) {
                        // 失败
                        return dialog.error(result.message);
                    }
                }, "JSON");
            }
        });

        $(".format-number").each(function (index) {
            if ($(this).html() == parseInt($(this).html())) {
                $(this).html(parseInt($(this).html()));
            }
        });

        $("#printBtn").on("click",function () {
            $('#printArea').printThis({
                importStyle: true,
            });
        });
    });
    function selectDate(){
        WdatePicker();
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>