<include file="Public/_meta" />

    <title>酒店列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 酒店管理 <span class="c-gray en">&gt;</span> 酒店列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <!--<div class="text-c">-->
        <!--<input type="text" name="" id="" placeholder=" 酒店名称" style="width:250px" class="input-text">-->
        <!--<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜酒店</button>-->
    <!--</div>-->
    <div class="cl pd-5 bg-1 bk-gray"> <span class="l"><!--<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> --><a class="btn btn-primary radius" onclick="layer_show('添加酒店','index.php?c=hotel&a=add','',300)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加酒店</a></span> <span class="r">共有数据：<strong>{$total}</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort peihuo-table">
            <thead>
            <tr class="text-c">
                <!--<th width="40"><input name="" type="checkbox" value=""></th>-->
                <th width="80">ID</th>
                <th>酒店名称</th>
                <th width="100">酒店编号</th>
                <th width="150">操作更新时间</th>
                <!--<th width="60">发布状态</th>-->
                <th width="200">操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="hotelList" id="vo">
            <tr class="text-c">
                <!--<td><input name="" type="checkbox" value=""></td>-->
                <td>{$vo.hotel_id}</td>
                <td>{$vo.hotel_name}</td>
                <td>{$vo.hotel_number}</td>
                <td>{$vo.update_time|date="Y-m-d H:i",###}</td>
                <td class="td-manage">
                    <button class="btn btn-secondary size-MINI radius peihuo-edit" attr-id="{$vo.hotel_id}" attr-a="hotel" attr-message="修改" onclick="layer_show('修改酒店','index.php?c=hotel&a=edit&id={$vo.hotel_id}','',300)">修改</button>
                    <span class="pipe">|</span>
                    <button class="btn btn-danger size-MINI radius peihuo-delete" attr-id="{$vo.hotel_id}" attr-a="hotel" attr-message="删除">删除</button></td>
            </tr>
            </volist>
            </tbody>
        </table>
    </div>
</div>

<include file="Public/_footer" />

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
//        "aoColumnDefs": [
//            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
//            {"orderable":false,"aTargets":[0,8]}// 制定列不参与排序
//        ]
    });

    /*酒店-删除*/
    function hotel_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '',
                dataType: 'json',
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});layer.msg('已删除!',{icon:1,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>

<script>
    var SCOPE = {
        'add_url' : '/admin.php?c=menu&a=add',
        'edit_url' : '/admin.php?c=menu&a=edit',
        'set_status_url' : 'index.php?c=hotel&a=setStatus',
    }
</script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
</body>
</html>