<include file="Public/_meta"/>
<link rel="stylesheet" href="__PUBLIC__/lib/jquery.chosen/1.8.2/chosen.css">
<style>
    .chosen-container .chosen-results {
        max-height: 100%;
    }
</style>
<title>添加订单
</title>
</head>
<body>
<div class="page-container">
    <form action="index.php?c=order&a=add" method="post" class="form form-horizontal" id="peihuo-form">
        <div class="row cl">
            <label class="form-label col-sm-2"><span class="c-red">*</span> 下单酒店：</label>
            <div class="formControls col-sm-8">
				<span class="select-box">
				<select name="hotel_id" class="select">
                    <option value="">-=请选择酒店=-</option>
                    <foreach name="hotelList" item="hotel">
                        <option value="{$hotel.hotel_id}">{$hotel.hotel_name}</option>
                    </foreach>
				</select>
				</span>
            </div>
        </div>
        <!--<div class="row cl">-->
        <!--<label class="form-label col-sm-2"><span class="c-red">*</span> 下单日期：</label>-->
        <!--<div class="formControls col-sm-9">-->
        <!--<input type="text" onfocus="WdatePicker()" id="order_date" name="order_date" value="{$today}" class="input-text Wdate">-->
        <!--</div>-->
        <!--</div>-->
        <div class="row cl">
            <label class="form-label col-sm-2"><span class="c-red">*</span> 配送日期：</label>
            <div class="formControls col-sm-8">
                <input type="text" onfocus="WdatePicker()" id="delivery_date" name="delivery_date" value="{$tomorrow}"
                       class="input-text Wdate">
            </div>
        </div>
        <div class="row cl">
            <div class="col-sm-offset-2" style="padding: 0 15px">
                <mark>以下数据只有填写菜品和下单数量才能有效记录</mark>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-sm-2">中餐：</label>
            <input type="hidden" name="depart_id[]" value="1">
            <!--<div class="formControls col-sm-2">-->
				<!--<span class="select-box">-->
				<!--<select name="category_id[]" class="select category-id">-->
                    <!--<option value="">-=请选择菜品分类=-</option>-->
                    <!--<foreach name="categoryList" item="category">-->
                        <!--<option value="{$category.category_id}">{$category.category_name}</option>-->
                    <!--</foreach>-->
				<!--</select>-->
				<!--</span>-->
            <!--</div>-->
            <div class="formControls col-sm-4">
				<span class="select-box">
				<select name="food_id[]" class="select food-id">
                    <option value="">-=请选择菜品=-</option>
                    <!--<option value="-1">-=手动输入菜品=-</option>-->
                    <foreach name="foodList" item="food">
                        <option value="{$food.food_id}">{$food.food_name}</option>
                    </foreach>
				</select>
				</span>
            </div>
            <div class="formControls col-sm-2">
                <input type="text" class="input-text order-add-input food-price" value="" placeholder="单价" id="" name="food_price[]"> <span class="unit"></span>
                <input type="hidden" value="" class="food-unit" name="food_unit[]">
                <input type="text" class="input-text order-add-input food-name hide" value="" placeholder="新菜品名" id="" name="food_name[]">
            </div>
            <!--<div class="formControls col-sm-1">-->
                <!--<input type="text" class="input-text unit" value="" placeholder="单位" id="" name="food_unit[]">-->
            <!--</div>-->
            <div class="formControls col-sm-2">
                <input type="text" class="input-text order-number" value="" placeholder="下单数量" id="" name="order_number[]">
            </div>
            <div class="formControls col-sm-1">
                <a href="javascript:" class="add-item" title="新增一条中餐记录"><i class="Hui-iconfont c-success">&#xe600;</i></a>
                &nbsp;&nbsp;
                <a href="javascript:" class="remove-item hide" title="删除该条中餐记录" attr-depart="中餐"><i class="Hui-iconfont c-danger">&#xe6a1;</i></a>
            </div>
        </div>
        <div class="row cl">
            <div class="line col-sm-offset-1 col-sm-10"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-sm-2">西餐：</label>
            <input type="hidden" name="depart_id[]" value="2">
            <!--<div class="formControls col-sm-2">-->
				<!--<span class="select-box">-->
				<!--<select name="category_id[]" class="select category-id">-->
                    <!--<option value="">-=请选择菜品分类=-</option>-->
                    <!--<foreach name="categoryList" item="category">-->
                        <!--<option value="{$category.category_id}">{$category.category_name}</option>-->
                    <!--</foreach>-->
				<!--</select>-->
				<!--</span>-->
            <!--</div>-->
            <div class="formControls col-sm-4">
				<span class="select-box">
				<select name="food_id[]" class="select food-id">
                    <option value="">-=请选择菜品=-</option>
                    <!--<option value="-1">-=手动输入菜品=-</option>-->
                    <foreach name="foodList" item="food">
                        <option value="{$food.food_id}">{$food.food_name}</option>
                    </foreach>
				</select>
				</span>
            </div>
            <div class="formControls col-sm-2">
                <input type="text" class="input-text order-add-input food-price" value="" placeholder="单价" id="" name="food_price[]"> <span class="unit"></span>
                <input type="hidden" value="" class="food-unit" name="food_unit[]">
                <input type="text" class="input-text order-add-input food-name hide" value="" placeholder="新菜品名" id="" name="food_name[]">
            </div>
            <div class="formControls col-sm-2">
                <input type="text" class="input-text order-number" value="" placeholder="下单数量" id="" name="order_number[]">
            </div>
            <div class="formControls col-sm-1">
                <a href="javascript:" class="add-item" title="新增一条西餐记录"><i class="Hui-iconfont c-success">&#xe600;</i></a>
                &nbsp;&nbsp;
                <a href="javascript:" class="remove-item hide" title="删除该条西餐记录" attr-depart="西餐" ><i class="Hui-iconfont c-danger">&#xe6a1;</i></a>
            </div>
        </div>
        <div class="row cl">
            <div class="line col-sm-offset-1 col-sm-10"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-sm-2">日本料理：</label>
            <input type="hidden" name="depart_id[]" value="3">
            <!--<div class="formControls col-sm-2">-->
				<!--<span class="select-box">-->
				<!--<select name="category_id[]" class="select category-id">-->
                    <!--<option value="">-=请选择菜品分类=-</option>-->
                    <!--<foreach name="categoryList" item="category">-->
                        <!--<option value="{$category.category_id}">{$category.category_name}</option>-->
                    <!--</foreach>-->
				<!--</select>-->
				<!--</span>-->
            <!--</div>-->
            <!--<div class="formControls col-sm-2">-->
				<!--<span class="select-box">-->
				<!--<select name="food_id[]" class="select food-id">-->
                    <!--<option value="">-=请选择菜品=-</option>-->
				<!--</select>-->
				<!--</span>-->
            <!--</div>-->
            <div class="formControls col-sm-4">
				<span class="select-box">
				<select name="food_id[]" class="select food-id">
                    <option value="">-=请选择菜品=-</option>
                    <!--<option value="-1">-=手动输入菜品=-</option>-->
                    <foreach name="foodList" item="food">
                        <option value="{$food.food_id}">{$food.food_name}</option>
                    </foreach>
				</select>
				</span>
            </div>
            <div class="formControls col-sm-2">
                <input type="text" class="input-text order-add-input food-price" value="" placeholder="单价" id="" name="food_price[]"> <span class="unit"></span>
                <input type="hidden" value="" class="food-unit" name="food_unit[]">
                <input type="text" class="input-text order-add-input food-name hide" value="" placeholder="新菜品名" id="" name="food_name[]">
            </div>
            <div class="formControls col-sm-2">
                <input type="text" class="input-text order-number" value="" placeholder="下单数量" id="" name="order_number[]">
            </div>
            <div class="formControls col-sm-1">
                <a href="javascript:" class="add-item" title="新增一条日本料理记录"><i class="Hui-iconfont c-success">&#xe600;</i></a>
                &nbsp;&nbsp;
                <a href="javascript:" class="remove-item hide" title="删除该条日本料理记录" attr-depart="日本料理" ><i class="Hui-iconfont c-danger">&#xe6a1;</i></a>
            </div>
        </div>
        <div class="row cl">
            <div class="line col-sm-offset-1 col-sm-10"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-sm-2">点心：</label>
            <input type="hidden" name="depart_id[]" value="4">
            <!--<div class="formControls col-sm-2">-->
				<!--<span class="select-box">-->
				<!--<select name="category_id[]" class="select category-id">-->
                    <!--<option value="">-=请选择菜品分类=-</option>-->
                    <!--<foreach name="categoryList" item="category">-->
                        <!--<option value="{$category.category_id}">{$category.category_name}</option>-->
                    <!--</foreach>-->
				<!--</select>-->
				<!--</span>-->
            <!--</div>-->
            <!--<div class="formControls col-sm-2">-->
				<!--<span class="select-box">-->
				<!--<select name="food_id[]" class="select food-id">-->
                    <!--<option value="">-=请选择菜品=-</option>-->
				<!--</select>-->
				<!--</span>-->
            <!--</div>-->
            <div class="formControls col-sm-4">
				<span class="select-box">
				<select name="food_id[]" class="select food-id">
                    <option value="">-=请选择菜品=-</option>
                    <!--<option value="-1">-=手动输入菜品=-</option>-->
                    <foreach name="foodList" item="food">
                        <option value="{$food.food_id}">{$food.food_name}</option>
                    </foreach>
				</select>
				</span>
            </div>
            <div class="formControls col-sm-2">
                <input type="text" class="input-text order-add-input food-price" value="" placeholder="单价" id="" name="food_price[]"> <span class="unit"></span>
                <input type="hidden" value="" class="food-unit" name="food_unit[]">
                <input type="text" class="input-text order-add-input food-name hide" value="" placeholder="新菜品名" id="" name="food_name[]">
            </div>
            <div class="formControls col-sm-2">
                <input type="text" class="input-text order-number" value="" placeholder="下单数量" id="" name="order_number[]">
            </div>
            <div class="formControls col-sm-1">
                <a href="javascript:" class="add-item" title="新增一条点心记录"><i class="Hui-iconfont c-success">&#xe600;</i></a>
                &nbsp;&nbsp;
                <a href="javascript:" class="remove-item hide" title="删除该条点心记录" attr-depart="点心" ><i class="Hui-iconfont c-danger">&#xe6a1;</i></a>
            </div>
        </div>
        <div class="row cl">
            <div class="line col-sm-offset-1 col-sm-10"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-sm-2">味部：</label>
            <input type="hidden" name="depart_id[]" value="5">
            <!--<div class="formControls col-sm-2">-->
				<!--<span class="select-box">-->
				<!--<select name="category_id[]" class="select category-id">-->
                    <!--<option value="">-=请选择菜品分类=-</option>-->
                    <!--<foreach name="categoryList" item="category">-->
                        <!--<option value="{$category.category_id}">{$category.category_name}</option>-->
                    <!--</foreach>-->
				<!--</select>-->
				<!--</span>-->
            <!--</div>-->
            <!--<div class="formControls col-sm-2">-->
				<!--<span class="select-box">-->
				<!--<select name="food_id[]" class="select food-id">-->
                    <!--<option value="">-=请选择菜品=-</option>-->
				<!--</select>-->
				<!--</span>-->
            <!--</div>-->
            <div class="formControls col-sm-4">
				<span class="select-box">
				<select name="food_id[]" class="select food-id">
                    <option value="">-=请选择菜品=-</option>
                    <!--<option value="-1">-=手动输入菜品=-</option>-->
                    <foreach name="foodList" item="food">
                        <option value="{$food.food_id}">{$food.food_name}</option>
                    </foreach>
				</select>
				</span>
            </div>
            <div class="formControls col-sm-2">
                <input type="text" class="input-text order-add-input food-price" value="" placeholder="单价" id="" name="food_price[]"> <span class="unit"></span>
                <input type="hidden" value="" class="food-unit" name="food_unit[]">
                <input type="text" class="input-text order-add-input food-name hide" value="" placeholder="新菜品名" id="" name="food_name[]">
            </div>
            <div class="formControls col-sm-2">
                <input type="text" class="input-text order-number" value="" placeholder="下单数量" id="" name="order_number[]">
            </div>
            <div class="formControls col-sm-1">
                <a href="javascript:" class="add-item" title="新增一条味部记录"><i class="Hui-iconfont c-success">&#xe600;</i></a>
                &nbsp;&nbsp;
                <a href="javascript:" class="remove-item hide" title="删除该条味部记录" attr-depart="味部" ><i class="Hui-iconfont c-danger">&#xe6a1;</i></a>
            </div>
        </div>
        <div class="row cl">
            <div class="line col-sm-offset-1 col-sm-10"></div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>

<include file="Public/_footer"/>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.chosen/1.8.2/chosen.jquery.js"></script>
<script type="text/javascript">
    $(function () {
        $('.food-id').chosen({
            search_contains: true, // 全字段模糊匹配
            no_results_text: '找不到菜品'
        });

        $("#peihuo-form").validate({
            rules: {
                hotel_id: {
                    required: true,
                },
                delivery_date: {
                    required: true,
                },
                'food_price[]': {
                    number: true
                },
                'order_number[]': {
                    number: true
                },
                'delivery_number[]': {
                    number: true
                },
            },
            onkeyup: false,
            success: "valid",
            // 通过验证后运行的函数
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    dataType: 'json',
                    success: function (data) {
                        if (data.status === 1) {
                            dialog.msg("操作成功！");
                            window.parent.location.reload();
                        } else {
                            dialog.error(data.message);
                        }
                    }
                });
            }
        });

        var foodData = {};

//        $(".category-id").change(function () {
//            var ele = $(this).parent().parent().parent();
//            var foodSelect = ele.find(".food-id");
//
//            foodSelect.html("");
//            $("<option value=''>-=请选择菜品=-</option>").appendTo(foodSelect);
//
//            var cateValue = $(this).val();
//            if (cateValue != "") {
//                var postData = {
//                    'category_id': cateValue
//                };
//                $.post('index.php?c=food&a=getFoodData', postData, function (result) {
//                    if (result.status == 1) {
//                        //成功
//                        //console.log(result.data);
//                        foodData = result.data;
//                        $.each(foodData, function (k, v) {
//                            $("<option value ='" + v['food_id'] + "'> " + v['food_name'] + "</option>").appendTo(foodSelect);
//                        });
//                    } else if (result.status == 0) {
//                        // 失败
//                        return dialog.error(result.message);
//                    }
//                }, "JSON");
//            }
//        });

        $(".food-id").change(function () {
            var ele = $(this).parent().parent().parent();
            foodValue = $(this).val();

            if (foodValue == "-1"){
                ele.find('.food-price').addClass('hide');
                ele.find('.food-name').removeClass('hide').val("");
                ele.find('.unit').html("");
            }

            if (foodValue != "" && foodValue != "-1") {
                ele.find('.food-price').removeClass('hide');
                ele.find('.food-name').val("").addClass('hide');

                var postData = {
                    'food_id': foodValue
                };
                $.post('index.php?c=food&a=getFoodById', postData, function (result) {
                    if (result.status == 1) {
                        //成功
                        //console.log(result.data);
                        foodData = result.data;
                        ele.find('.food-price').val(foodData['food_price']);
                        ele.find('.food-unit').val(foodData['food_unit']);

                        ele.find('.unit').html("元 / "+foodData['food_unit']);
                    } else if (result.status == 0) {
                        // 失败
                        return dialog.error(result.message);
                    }
                }, "JSON");
            }

        });

        $(".add-item").on('click',function () {
            $(".food-id").chosen("destroy"); // 销毁所有chosen
            var ele = $(this).parent().parent();
            ele.find('.remove-item').removeClass('hide');
            var copy = ele.clone(true);

            ele.after(copy.addClass('hui-fadein'));
            var newEle = ele.next();

            var newFoodSelect = newEle.find('.food-id');
            newFoodSelect.find("option[value='']").attr("selected",true);

            // 重新对页面chosen
            $(".food-id").chosen({
                search_contains: true, // 全字段模糊匹配
                no_results_text: '找不到菜品'
            });

            newEle.find('.food-name').val('');
            newEle.find('.food-price').val('');
            newEle.find('.food-unit').val('');
            newEle.find('.unit').html('');
            newEle.find('.order-number').val('');
            newEle.find('.delivery-number').val('');
        });

        $(".remove-item").on('click',function () {
            var depart = $(this).attr('attr-depart');
            var confirmMessage = '确认要删除该条'+depart+'记录吗？';
            var ele = $(this).parent().parent();
            layer.confirm(confirmMessage,function(index){
                layer.close(index);
                ele.addClass('hui-bounceoutR');
                setTimeout(function () {
                    ele.remove();
                },1000);
            });
        });

    });
</script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>