<include file="Public/_meta"/>
<style>
    .order-info {
        margin: 10px auto;
    }
    .order-info span{
        display: inline-block;
        width: 220px;
    }
    .page-container{
        width: 700px;
        margin: 0 auto;
    }
    .table-head{
        font-weight: bold;
    }
    .btn-print{
        text-align: center;
        margin: 50px;
    }
</style>
<title>查看订单</title>
</head>
<body>

<div class="page-container">
    <div id="printArea">
    <div class="text-c"><h2>{$order.hotel_name}订单</h2></div>
    <div class="order-info">
        <span>订单编号：{$order.order_sn}</span>
        <span>酒店编号：{$order.hotel_number}</span>
        <span>配送日期：{$order.delivery_date|date="Y-m-d",###}</span>
    </div>
    <table class="table table-border table-bg table-bordered">
        <thead>
        <tr class="table-head">
            <td>序号</td>
            <td>菜品</td>
            <td>中餐</td>
            <td>西餐</td>
            <td>日料</td>
            <td>点心</td>
            <td>味部</td>
            <td>合计</td>
            <td>备注</td>
        </tr>
        </thead>
        <tbody>
        <foreach name="countPrint" item="data">
        <tr>
            <td>{$key+1}</td>
            <td>{$data.food_name}</td>
            <td class="format-number">{$data.total1}</td>
            <td class="format-number">{$data.total2}</td>
            <td class="format-number">{$data.total3}</td>
            <td class="format-number">{$data.total4}</td>
            <td class="format-number">{$data.total5}</td>
            <td class="format-number">{$data.total}</td>
            <td></td>
        </tr>
        </foreach>
        </tbody>
    </table>
    </div>
    <div class="btn-print"><input class="btn btn-secondary radius size-L" id="printBtn" type="button" value="打印订单"></div>
</div>

<include file="Public/_footer"/>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/printThis.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
    $(function () {
        $(".format-number").each(function (index) {
            if ($(this).html() == parseInt($(this).html())) {
                $(this).html(parseInt($(this).html()));
            }
        })

        $("#printBtn").on("click",function () {
            $('#printArea').printThis({
                importStyle: true,
            });
        })
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>